{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Configure{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    <label for="power">Power</label>
    <input name="power" id="power" required>

    <label for="expansion">Expansion</label>
    <input name="expansion" id="expansion" required>

    <label for="matrix_fname">File with matrix</label>
    <input name="matrix_file" type="file" required>

    <input type="submit" value="Start">
  </form>
  {% endblock %}
